/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

/* Navbar */
header {
    background: #020617;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

nav a.active {
    color: #38bdf8;
    font-weight: bold;
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
}

/* Hero Section */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #020617, #0f172a);
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #38bdf8;
}

/* Profile Image */
.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

    margin: 20px auto;
    display: block;

    border: 3px solid #38bdf8;
    animation: glow 2s infinite alternate;
}

/* Glow Animation */
@keyframes glow {
    from { box-shadow: 0 0 10px #38bdf8; }
    to { box-shadow: 0 0 30px #38bdf8; }
}

/* Typing Cursor */
#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
    box-shadow: 0 0 10px #38bdf8;
}

button:hover {
    background: #0ea5e9;
    box-shadow: 0 0 20px #0ea5e9, 0 0 40px #38bdf8;
}

/* About */
#about {
    background: #020617;
}

/* Projects */
#projects {
    background: #0f172a;
}

.project {
    background: #020617;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    transition: 0.3s;
}

.project img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #38bdf8;
}

/* Contact */
#contact {
    background: #020617;
}

/* Footer */
footer {
    background: #000;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
}

/* Scroll Animation */
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    #home h1 {
        font-size: 2rem;
    }

    .profile {
        width: 120px;
        height: 120px;
    }
}
